# Project docs
HELP.md

# Java build artifacts
/target/
/build/

# Include Maven wrapper
!mvnw
!mvnw.cmd
!maven-wrapper.properties
!/.mvn/wrapper/maven-wrapper.jar

# Retain build dirs in multi-module layouts
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Logs
*.log

# OS files
.DS_Store